body {
    background-color: ghostwhite;
}

h1 {
    justify-content: center;
    text-align: center;
}

#main_wrap {
    width: 1280px;
    /*height: 800px;*/

    background-color: #FFF;

    margin: 20px auto;

    border: 1px solid #DDD;
    border-radius: 5px;

    box-shadow: 3px 3px 5px #DDD;

    padding: 10px;

}

#menuItems {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    
}
#menuArea {
    background-color: wheat;
    width: 80vw;
    /* height: 70vh; */
    padding: 20px;
    margin: 10px;
    border-radius: 5px;
}

#cartArea {
    background-color: wheat;
    width: 50vw;
    /* height: 70vh; */
    padding: 20px;
    margin: 10px;
    border-radius: 5px;
}

.menu {
    height: 150px;
    width: 150px;
    background-color: whitesmoke;
    border: 1px solid black;
    border-radius: 5px;
    margin: 10px;
}


.container {
    display: flex;
    flex-direction: row;
}

.manager-area {
    display: flex;
    justify-content: right;
    /* align-items: right; */
}